<h2>Import data frm excel</h2>
<hr>
<form action="/" method="post" enctype="multipart/form-data">
     <input type="file" name="filename">
     <textarea name="texto"> Select a file to upload</textarea>
     <button type="submit">import excel</button>
</form>