{{!-- <h2>Import data frm excel</h2>
<hr>
<form action="/" method="post" enctype="multipart/form-data">
     <input type="file" name="filename">
     <textarea name="texto"> Select a file to upload</textarea>
     <button type="submit">import excel</button>
</form> --}}


<div class="container p-4">
     <div class="row">
          <div class="col-md-4 mx-auto">
               <div class="card text-center">
                    <div class="card-body">
                         <h1>Bienvenido {{user.usuario}}</h1>
                    </div>
               </div>
          </div>
     </div>
</div>

