<br>
    <div class="div container-fluid">
     <h3> Lista de alumnos</h3>

      <!-- Breadcrumbs-->

      <!-- Page Content -->

   
      <div class='row'>

        <div class="col-md-3">
          <label>B&uacute;squeda</label>
          <input type="text" class="form-control"  placeholder="Nombres/codigo/dni">
        </div>

        <div class='col-md-2'>
          <label>Escuela</label>
          <select class="form-control">
             <option value="1">Sistemas</option>
            <option value="2">Software</option>
          </select>
        </div>

        <div class='col-md-3'>
          <label>Observaci&oacute;n psicol&oacute;gica</label>
          <select class="form-control">
             <option value="1">Todos</option>
            <option value="2">Ansiedad</option>
            <option value="0">Depresion</option>
          </select>
        </div>

        <div class='col-md-3'>
          <label>Cantidad desaprobados</label>
          <select class="form-control">
             <option value="1">2 - 4</option>
            <option value="2">4 - 6</option>
            <option value="0">7 a m&aacute;s</option>
          </select>
        </div>

        <div>
          <button type="button" class="btn btn-info" style="float:left;margin-top: 20px;">Buscar</button>
        </div>


      </div>


     <br>
      <!-- DataTables Example -->
      <div class="card mb-3">
        <div type="text" class="card-body">
          <div class="table-responsive">          
            <table  class="table table-bordered" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>C&oacute;digo</th>
                  <!--<th>Plan</th>!-->
                 <!-- <th>Ciclo</th>!-->
                  <th>Ap. Paterno</th>
                  <th>Ap. Materno</th>
                  <th>Nombres</th>
                  <th>Escuela</th>
                   <!--<th>Sit. academica</th>!-->
                  <th>Obs. psicológica</th>
                  <th>N° desaprobados</th>
                  <!--<th>Ponderado</th>!-->

                </tr>
              </thead>
              <tbody>
                  <td>14200278</td>
                  <!--<th>Plan</th>!-->
                 <!-- <td>Ciclo</td>!-->
                  <td>Vargas</td>
                  <td>Arana</td>
                  <td>Jose Luis</td>
                  <td>Sistemas</td>
                   <!--<td>Sit. academica</td>!-->
                  <td>Normal</td>
                  <td>1</td>
              </tbody>
            </table>
            
          

          </div>
        </div>
      </div>

    </div>
    <!-- /.container-fluid -->
