<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Ola</title>
     {{!-- GOOGLE FONTS --}}
     <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
     <link rel="stylesheet" href="/css/styles.css"> 

     <link href="/sbadmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

     <!-- Page level plugin CSS-->
     <link href="/sbadmin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

     <!-- Custom styles for this template-->
     <link href="/sbadmin/css/sb-admin.css" rel="stylesheet">
     

</head>
<body>
     {{>navigation}}
     <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a id="panelControl" data-section="panelControl" class="nav-link" href="#">
          <i id="panelControl" data-section="panelControl" class="fas fa-fw fa-tachometer-alt"></i> 
          <span id="panelControl" data-section="panelControl"> Panel de control</span>
        </a>
      </li>

      <li class="nav-item">
        <a id="activos" data-section="activos" class="nav-link" href="#">
          <i id="activos" data-section="activos" class="fas fa-fw fa-tools"></i>
          <span id="activos" data-section="activos">Activos fijos</span>
        </a>
      </li>

      <li class="nav-item">
        <a id="areas" data-section="areas" class="nav-link" href="#">
          <i id="areas" data-section="areas" class="fas fa-fw fa-building"></i>
          <span id="areas" data-section="areas">Áreas</span></a>
      </li>

      <li class="nav-item">
        <a id="depreciacion" data-section="depreciacion" class="nav-link" href="#">
          <i id="depreciacion" data-section="depreciacion" class="fas fa-fw fa-tools"></i>
          <span id="depreciacion" data-section="depreciacion">Depreciación</span>
        </a>
      </li>

      <li class="nav-item">
        <a id="proveedores" data-section="proveedores" class="nav-link" href="#">
          <i id="proveedores" data-section="proveedores" class="fas fa-fw fa-truck"></i>
          <span id="proveedores" data-section="proveedores">Proveedores</span>
        </a>
      </li>

      <li class="nav-item">
        <a id="reportes" data-section="reportes" class="nav-link" href="#">
          <i id="reportes" data-section="reportes" class="fas fa-fw fa-file-pdf"></i>
          <span id="reportes" data-section="reportes">Reportes</span></a>
      </li>
    </ul>


          <div id="content-wrapper">
               {{{ body }}}
          </div>
     
    
     </div>
     

     <script src="/sbadmin/vendor/jquery/jquery.min.js"></script>
     <script src="/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
     <script src="/sbadmin/vendor/table-paginator-master/paginator.js"></script>

     <!-- Core plugin JavaScript-->
     <script src="/sbadmin/vendor/jquery-easing/jquery.easing.min.js"></script>

     <!-- Page level plugin JavaScript-->
     <script src="/sbadmin/vendor/datatables/jquery.dataTables.js"></script>
     <script src="/sbadmin/vendor/datatables/dataTables.bootstrap4.js"></script>
     
     <!-- Custom scripts for all pages-->
     <script src="/sbadmin/js/sb-admin.min.js"></script>

     <!-- Demo scripts for this page-->
     <script src="/sbadmin/js/demo/datatables-demo.js"></script>
</body>
</html>