<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sistema Unayoe</title>
  {{!-- GOOGLE FONTS --}}
  <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">

  <link href="/sbadmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="/sbadmin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/sbadmin/css/sb-admin.css" rel="stylesheet">


</head>

<body>
  {{>navigation}}
  <div id="wrapper">

    <ul class="sidebar navbar-nav">
    <ul class="sidebar navbar-nav" style="background-color:#0c2642;">
      <li class="nav-item active">
        <a class="nav-link" href="/cargaOca">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span> Carga </span>
            <i class="fas fa-fw fa-file-upload"></i>
          <span> Actualizar semestre </span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/alumno">
          <i class="fas fa-fw fa-tools"></i>
         <i class="fas fa-fw fa-tasks"></i>
          <span>Lista de alumnos</span>
        </a>
      </li>

      <li class="nav-item">
    <!--  <li class="nav-item">
        <a class="nav-link" href="/links">
          <i class="fas fa-fw fa-tools"></i>
          <span>Links (guia)</span>
        </a>
      </li>!-->

    </ul>


    <div id="content-wrapper">

      {{>mensajeCabecera}}

      {{{ body }}}




    </div>


  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script src="/sbadmin/vendor/jquery/jquery.min.js"></script>
  <script src="/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/sbadmin/vendor/table-paginator-master/paginator.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/sbadmin/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="/sbadmin/vendor/datatables/jquery.dataTables.js"></script>
  <script src="/sbadmin/vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/sbadmin/js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="/sbadmin/js/demo/datatables-demo.js"></script>
  <script src="/dom/domAlumno.js"></script>

</body>

</html>